*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}
img{
	max-width: 100%;
	height: auto;
	-o-object-fit: cover;
	object-fit: cover;
	background-size: cover;
	background-position: center; 
}
ul{
	list-style: none;
}
.banner{
	background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
	margin-bottom: 200px;
	height: 760px;

}
.logo{
	width: 100%;
	color: #fff;
}
.logo h2{
	margin-bottom: 0;
}
.logo h2 a{
	color: #fff;
	text-transform: capitalize;
	text-decoration: none;
	    font-size: 24px;
    font-weight: bold;
}
.logo h3 a{
	color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-transform: capitalize;
    margin-left: 5%;
    display: block;
    padding-top: 5px;
    text-decoration: none;
}
#navbar {
  background-color: #000;	
  position: fixed;
  top: -150px;
  width: 100%;
  display: block;
  transition: top 0.3s;
  z-index: 99;
}
#navbar .menu{
	padding-top: 1%;
}

#navbar a {
  float: left;
  display: block;
  color: #fff;
  text-align: center;
  
  text-decoration: none;
  /*font-size: 14px;*/
}
#navbar .logo h2 a{
	padding-top: 5px !important;
}
#navbar .list-menu  a{
	padding-top: 10px;
}
#navbar .list-menu  a:hover{
	color: #F08434;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  
  top: 0;
  left: 0;
  border:-webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);;
	background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index: 999;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #F08434;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.menu{
	display: flex;
	padding-top: 2%;
}
.list-menu {
	display: -webkit-flex; /* Safari */
  -webkit-justify-content: flex-end; /* Safari 6.1+ */
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.list-menu li{
	margin-right: 45px;
}
.list-menu a{
	color: #fff;
	display: block;
	    width: 100%;
    height: 100%;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;	
    transition: all 0.4s;
        padding-top: 20px;
}
.list-menu a:hover{
	color: #F08434;
}
.box-1{
	position: relative;
	top: 100px;
	background-color: #fff;
	border-radius: 30px;
	display: flex;
	box-shadow: 0px 20px 80px 0px rgba(153, 153, 153, 0.3);
	margin-bottom: 200px;
}
.img-myself{
		padding: 3% 0 3% 2%;
}
.img-myself img{
	width: 668px;
	height: 690px;
	border-radius: 30px;
}
.text-myself{
	display: block;
	margin: auto;
	padding: 3% 0 3% 5%;
	overflow: hidden;
	max-width: 540px;

}
.text-myself h2{
	font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #222222;
    font-weight: bold;
    text-align: center;
}
.text-myself h3{
	font-size: 16px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #222222;
        text-align: center;
    font-weight: bold;
}
.text-myself p{
	color: #777777;
    margin-bottom: 40px;
    padding: 0 50px;
    text-align: justify;
}
.text-myself ul{
	padding: 0 50px;
}
.text-myself li{
	margin-bottom: 15px;
	
}
.text-myself ul li a{
	position: relative;
    
    font-size: 17px;
    color: #777777;

}
.text-myself ul li a:hover{
	text-decoration: none;
}
.text-myself ul li a i{
	padding-right: 40px;
	font-size: 20px;
    color: #27B0F7;
}
/*about me*/
.about-me{
	margin-bottom: 5%;
}
.about-me h2{
	/*padding-top: 5%;*/
	position: relative;
	text-transform: capitalize;
    font-weight: bold;
}
.title{
	text-align: center;
}
.title:after{
	content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    border: 1px solid #000;
    width: 7%;
    text-align: center;
    transform: translateX(-50%);
}
.about-me h2:after{
*transform: translateX(-50%);*/
}

.text-about{
	text-align: justify;
	font-weight: bold;
}
.social-icon{
	display: flex;
}
.social-icon li{
	margin-right: 20px;
}
.social-icon a{
	padding: 10px 15px;
    background: gray;
    border-radius: 5px;
    color: #fff;

}
.social-icon a:hover{
	border:-webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);;
	background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
	transition: all 0.8s !important;
}
/*.social-icon i{
	font-size: 20px;
}*/
.skills{
	margin: 0 5%;
}
.skills h3{
	font-size: 18px;
}
.skill-content{
	border: 1px solid #eee;
	border-radius: 10px;
	padding: 3px;
	background-color: #e8e8e8;
	margin-bottom: 5%;
}
.skill-content-1{
	padding: 5px;
	border:-webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);;
	background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
	border-radius: 10px;
}
.education{
	background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
}
.education-content h3{
	text-align: center;
    font-weight: bold;
    text-transform: capitalize;
    padding: 5% 0;
}

/*sanpham*/
.sanpham{
	position: relative;
	margin-bottom: 50%;
}
.sanpham-content{
	width: 35%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.4);
    text-align: center;
    z-index: 1;
    background-color: #fff;
}
.sanpham-content h4{
	padding-top: 5%;
	    font-weight: 600;
    font-size: 22px;
        text-transform: capitalize;
}
.sanpham-content h5{
	padding-bottom: 5%;
	font-size: 16px;
}
.sanpham-content-1{
	width: 30%;
   background-color: #fff;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.4);
    text-align: center;
    position: absolute;
    top: 30px;
    left: 5%;
    transition: all 0.4s;
}
.sanpham-content-1 h4{
	padding-top: 5%;
	    font-weight: 600;
    font-size: 22px;
        text-transform: capitalize;
}
.sanpham-content-1 h5{
	padding-bottom: 5%;
	font-size: 16px;
}
.sanpham-content-2{
	width: 30%;
    background-color: #fff;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.4);
    text-align: center;
    position: absolute;
    top: 30px;
    right: 5%;
    transition: all 0.4s;
}
.sanpham-content-2 h4{
	padding-top: 5%;
	    font-weight: 600;
    font-size: 22px;
        text-transform: capitalize;
}
.sanpham-content-2 h5{
	padding-bottom: 5%;
	font-size: 16px;
}
.sanpham-content-1:hover, .sanpham-content-2:hover{
	transform: scale(1.1);
	z-index: 9;
}
/*footer*/
.footer{
	padding:5% 10%;
	
}
.touch h2{
	text-transform: uppercase;
    color: #fff;
    font-size: 35px;
}
.touch p{
	color: #fff;
    text-transform: capitalize;
}
.footer input{
	width: 100% !important;
	border: none;
	background-color: inherit;
	border-bottom: 1px solid #fff;
	color: #fff;
	outline: none;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
 /* opacity: 1;  Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #fff;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #fff;
}
textarea{
	border: none;
	background-color: inherit;
	border-bottom: 1px solid #fff;
	color: #fff;
	outline: none;
}
@media (min-width: 320px) and (max-width: 767px)
{
	.box-1{
		display: inherit;
		border-radius: 10px;
		top: 50px;
	}
	#navbar .logo h2 a{
		padding-top: 15px !important;
	}
	.logo h2 a{
		font-size: 22px;
	}
	.sanpham{
		margin-top: 10%;
	}
	.about-me h2{
		margin-left: 5%;
	}
	.list-menu li{
		display: none;
	}
	.list-menu span{
		display: block !important;
	}
	.img-myself{
		padding: 4% 0 0 0;
	}
	.img-myself img{
		height: 350px;
	}
	.text-myself{
		padding: 3%;
	}
	.text-myself h2{
		font-size: 30px;
	}
	.text-myself p{
		text-align: justify;
	}
	.text-myself ul{
		padding: 0 40px;
	}
	.text-myself ul li a i{
		padding-right: 10px;
	}
	.img-myself img{
		border-radius: 10px;
	}
	.about-me{
		margin-top: 80%;
	}
	.text-about{
		padding: 3% 5% 5% 5%;

	}
	.skills{
		margin: 0 10%;
	}
	.sanpham-content h4,
	.sanpham-content-1 h4,
	.sanpham-content-2 h4{
		font-size: 10px;
	}
	.sanpham-content-1 h5,
	.sanpham-content-2 h5,
	.sanpham-content h5{
		font-size: 8px
	}
	.sanpham-content-1 img,
	.sanpham-content-2 img{
		height: 106px !important;
	}
	.about-me h2{
		margin-bottom: 5% !important;
		font-size: 22px;
	}
	.about-me p,
	.skills h3{
		font-size: 14px;
	}
	.sanpham{
		margin-bottom: 90%;
	}
	.footer-2{
		padding: 0 !important;
	}
}
@media (min-width: 768px) and (max-width: 1023px)
{
	.text-myself h2{
		font-size: 32px;
	}
	.text-myself p,
	.text-myself ul{
		padding: 0 5px;
	}
	.sanpham{
		margin-bottom: 65%;
	}
	.sanpham-content-2 h4,
	.sanpham-content-1 h4{
		font-size: 16px;
	}
	.sanpham-content-1 h5,
	.sanpham-content-2 h5{
		font-size: 14px;
	}
	.sanpham-content-1 img,
	.sanpham-content-2 img{
		height: 200px !important;
	}
	.sanpham-content{
		top: 15px;
	}
}
@media (min-width: 1024px) and (max-width: 1200px)
{
	.sanpham-content-1 img,
	.sanpham-content-2 img{
		height: 250px !important;
	}
	.sanpham-content-2 h4,
	.sanpham-content-1 h4{
		font-size: 18px;
	}
	.sanpham{
		margin-bottom: 55%;
	}
}